:root {
	--glow-rgb: 255 255 255;
  }

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.glow-point {
position: absolute;
box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
pointer-events: none;
}

.star {
position: absolute;
z-index: 999;
color: white;
font-size: 1rem;
animation-duration: 1500ms;
animation-fill-mode: forwards;
pointer-events: none;
}

@keyframes fall-1 {
0% {
	transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
	opacity: 0;
}

5% {
	transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
	opacity: 1;
}

100% {
	transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
	opacity: 0;
}
}

@keyframes fall-2 {
0% {
	transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
	opacity: 0;
}

10% {
	transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
	opacity: 1;
}

100% {
	transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
	opacity: 0;
}
}

@keyframes fall-3 {
0% {
	transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
	opacity: 0;
}

15% {
	transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
	opacity: 1;
}

100% {
	transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
	opacity: 0;
}
}

body {
	background: #000;
	color: #ccc;
	font-family: 'Lexend', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: unset;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
	transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#loader-text {
	color: #ccc;
	font-size: 1em;
	margin-top: 20px;
	padding: 10px 20px;
	backdrop-filter: blur(10px);
}

.fade-out {
	opacity: 0;
}

.fade-in {
	opacity: 1 !important;
	transition: opacity 1s ease-in-out;
}

.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: relative;
	opacity: 0;
	transition: all 0.3s ease;
}

.content{
	display: flex;
	justify-content: center;
    align-items: flex-start;
}

.banner .content .title {
	font-family: 'Lexend', sans-serif;
	font-size: 6em;
	opacity: 0;
	width: 100vw;
	transition: all 0.5s ease-in-out;
}

.banner .content .title.title-small {
	width: 45vw;
	transition: width 2s ease-in-out;
}

.banner::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url(media/efdi_bg.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;

	mask-image: url(media/water.gif);
	mask-size: cover;
	mask-position: center;
}

.translucid {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	opacity: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.countdown {
	opacity: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
	color: #fff;
	text-shadow:1px 1px 10px #000;
	min-height: 20vh;
	gap: 5px;
}

.countdown.show {
	opacity: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: all 1s ease;
}

/* botones */
.botones {
	display: none;
	transition: all 1s ease;
}

.botones.show {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: all 1s ease;
}

/* Botones de Spotify, YouTube e Instagram */
.botones button,
.preloader button {
    background: none;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2em;
    padding: 0.7em 1.5em;
    margin: 1em;
    border: 2px solid #fff;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.botones button::before,
.preloader button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: 0;
    transition: width 0.3s ease;
}

.botones button:hover::before,
.preloader button:hover::before {
    width: 100%;
}

.botones button:hover,
.preloader button:hover {
    color: #000;
}

.botones button span,
.preloader button span {
    position: relative;
    z-index: 1;
}

/* Colores específicos para cada botón */
.btnSpotify,
.btnYoutube,
.btnInstagram {
	opacity: 0;
    border-color: #ffffff;
}

.btnEnter {
    border-color: #ffffff;
}

/* Hover para los botones específicos */
.btnSpotify:hover,
.btnYoutube:hover,
.btnInstagram:hover {
    border-color: #000000;
}

.btnSpotify:hover::before {
    background: #1DB954;
}

.btnYoutube:hover::before {
    background: #FF0000;
}

.btnInstagram:hover::before {
    background: #C13584;
}

.btnEnter:hover::before {
    background: #ffffff;
}

.btnSpotify.show {
	opacity: 1;
	transition: all 0.3s ease;
}

.btnYoutube.show {
	opacity: 1;
	transition: all 0.3s ease;
}

.btnInstagram.show {
	opacity: 1;
	transition: all 0.3s ease;
}

/* CSS: Estilos para el Banner de Cookies */
#cookie-banner a {
    text-decoration: underline;
}

#cookie-banner button {
    border-radius: 5px;
    transition: background 0.3s ease;
}

#cookie-banner button:hover {
    background: #c9c9c9;
}

#sound-icon {
	position: fixed;
	bottom: 3vw;
	right: 3vw;
	width: 2vw;
	cursor: pointer;
	-webkit-filter: invert(75%); /* safari 6.0 - 9.0 */
    filter: invert(75%);
    transition: all 2s ease;
}

/* responsive */

@media (min-width: 1201px) {
	#sound-icon:hover {
		width: 2.5vw;
	}
	#easter-egg:hover { 
		width: 2.5vw;
		transform: translateX(-1.25vw);
	}
}

@media (max-width: 600px) {
	#sound-icon {
		position: fixed;
		bottom: 4vw;
		right: 3vw;
		width: 10vw;
	}
	.countdown {
		height: auto;
	}
	.countdown.show {
		height: auto;
	}
	.botones {
		display: flex;
		flex-direction: column;
		height: auto;
		transition: all 1s ease;
	}
	.botones.show {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		transition: all 1s ease;
	}
	.botones button,
	.preloader button {
		font-size: 1em;
		padding: 0.7em 1.5em;
		margin: 0.5em;
	}
	.banner .content .title {
		width: 120vw;
	}
	.banner .content .title.title-small {
		width: 120vw;
		transition: width 2s ease-in-out;
	}
}

@media (min-width: 601px) and (max-width: 1200px) {
	#sound-icon {
		position: fixed;
		bottom: 4vw;
		right: 3vw;
		width: 10vw;
	}
}

@media ((max-width: 1200px) and (orientation: landscape)) {
	body {
		flex-direction: row;
	}
	#sound-icon {
		position: fixed;
		bottom: 5vw;
		right: 3vw;
		width: 5vw;
	}
}