@media (min-width: 1200px) {
    .side-menu {
        width:20vw;
		background: #00000070;
    }

	.menu-button {
		font-size: 1.5vw;
	}
}

@media (max-width: 1199px) {
    .side-menu {
        width: 100vw;
        /* max-width: 20rem; */
		background: #000;
    }
    .side-menu.open {
        /* max-width: 21rem; */
    }

	.menu-button {
		font-size: 1.5vw;
	}
}

/* Menú Hamburguesa */
.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    cursor: pointer;
    z-index: 10000;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.menu-button i {
    transition: transform 0.3s ease;
}

.menu-button.active i {
    transform: rotate(90deg);
}

/* Estilos para el menú */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    color: white;
    transition: left 0.3s ease;
    z-index: 9999;
    padding: 4rem 2rem 2rem 2rem;
}

.side-menu.open {
    left: 0;
}

.side-menu nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}

.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links li {
    margin: 15px 0;
}

.menu-links li.locked {
    color: #3a3a3a;
}

.menu-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
	filter: none;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.menu-links a:not(.locked):hover {
    filter: none;
	transform: translate(0.3vw, 0);
}

.menu-links:hover a:not(:hover) {
    filter: blur(1.2px);
}

.menu-links a.locked {
    filter: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.social-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 20px;
}

.social-links a {
    color: white;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #1DB954; /* Color distintivo para hover */
}
